* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "DM Serif Text", serif;
  font-style: normal;
  z-index: 1;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  flex-direction: column;
  align-content: space-between;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.landing {
  background: rgb(0, 0, 0);
}

.projects {
  background: rgb(27, 27, 27);
  justify-content: start;
}

.about {
  background: rgb(27, 27, 27);
  justify-content: start;
}

.about-content {
  /* text-align: center; */
  margin-top: 5%;
  width: 75vh;
}

.contact {
  background: rgb(27, 27, 27);
  justify-content: start;
}

.socials {
  align-self: stretch;
  height: 10vh;
  padding-top: 12.5%;
  padding-right: 12.5%;
}

.socials-list {
  list-style-type: none;
  text-align: right;
  font-size: 1.5em;
}

.profile {
  height: 90vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 10vh;
  width: 75vh;
}

.section-heading {
  font-size: 3em;
  margin-top: 12.5vh;
}

.content {
  flex-grow: 1;
}

.footer {
  justify-content: end;
  margin-bottom: 12.5vh;
}

#first-name {
  font-size: 10em;
  text-align: left;
  align-self: stretch;
}

#last-name {
  font-size: 10em;
  text-align: right;
  align-self: stretch;
}

span::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

span:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

span::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: rgb(114, 114, 114);
  z-index: -1;
  transition: transform 0.3s ease;
}

span {
  position: relative;
}

a {
  text-decoration: none;
}

/* Animation */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* TODO: add media query to control when the hover affects can be used for the list
TODO: also specify them for mobile devices */
