* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "DM Serif Text", serif;
  font-style: normal;
  z-index: 1;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  flex-direction: column;
  align-content: space-between;
}

i.material-icons-outlined.project-icons {
  font-size: 48px;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.landing {
  background: rgb(0, 0, 0);
}

.projects {
  background: rgb(0, 0, 0);
  justify-content: start;
}

.about {
  background: rgb(0, 0, 0);
  justify-content: start;
}

.about-content {
  margin-top: 3%;
  width: 75vh;
}

.contact {
  background: rgb(0, 0, 0);
  justify-content: start;
}

.socials {
  align-self: stretch;
  height: 10vh;
  padding-top: 12.5%;
  padding-right: 12.5%;
}

.socials-list {
  list-style-type: none;
  text-align: right;
  font-size: 1.5em;
}

.profile {
  height: 90vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 10vh;
  width: 75vh;
}

.section-heading {
  font-size: 3em;
  margin-top: 12.5vh;
}

.section-heading-2 {
  text-align: center;
}

.content {
  flex-grow: 1;
  margin-top: 5%;
}

.footer {
  justify-content: end;
  margin-bottom: 12.5vh;
}

#first-name {
  font-size: 10em;
  text-align: left;
  align-self: stretch;
}

#last-name {
  font-size: 10em;
  text-align: right;
  align-self: stretch;
}

.li span::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.li span:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.li span::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: rgb(114, 114, 114);
  z-index: -1;
  transition: transform 0.3s ease;
}

.li span {
  position: relative;
}

a {
  text-decoration: none;
}

/* Fading Animation */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* div expansion styling */
.fsm {
  margin: 10vh 5vw;
  background-color: rgb(27, 27, 27);
  height: 100px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f5f5f5;
  font-size: 1.5rem;
  border-radius: 10px;
  transition: 1s;
  cursor: pointer;
}
.fsm .fa {
  transition: 1s;
  color: #f5f5f5;
  font-size: 2.5vw;
}
.fsm .fa:before {
  color: #f5f5f5;
}
.fsm .modal-content {
  height: 0;
  width: 0;
  margin: 0;
}
.fsm h1.modal-content {
  opacity: 0;
  transition: 1s;
}
.fsm.crypto {
  background: rgb(27, 27, 27);
}
.fsm.aqua {
  background: rgb(27, 27, 27);
}

.fsm.growing h1.modal-content {
  height: auto;
  margin: 0;
  opacity: 0;
  transition-delay: 0.5s;
}
.fsm.full-screen {
  height: 100vh;
  z-index: 100;
  margin: 0;
  border-radius: 0;
}
.fsm.full-screen .fa {
  font-size: 10vw;
}
.fsm.full-screen .modal-content {
  height: auto;
  width: auto;
  margin: inital;
}
.fsm.full-screen h1.modal-content {
  transition-delay: 0.5s;
  opacity: 1;
}
.fsm.shrinking h1.modal-content {
  transition-delay: 0s;
  transition: 0.5s;
  opacity: 0;
  display: block;
}
.fsm-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

/* TODO: add media query to control when the hover affects can be used for the list
TODO: also specify them for mobile devices */
