* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.one {
  background: rgb(0, 0, 0);
}

.two {
  background: rgb(27, 27, 27);
}

.three {
  background: rgb(58, 58, 58);
}

.four {
  background: rgb(114, 114, 114);
}
